<mat-toolbar class="content-toolbar" color="primary">
  <h2>Opérateurs</h2>
  <span class="fill-space"></span>

  <button class="createTicketBtn" mat-button routerLink="/new-operator"><mat-icon>add</mat-icon>Ajouter un opérateur</button>
</mat-toolbar>

<mat-card class="custom-mat-card">
	<app-operators-filter></app-operators-filter>
  	<div>
		<table mat-table [dataSource]="dataSource">

			<!--- Note that these columns can be defined in any order.
				The actual rendered columns are set as a property on the row definition" -->

			<!-- Position Column -->
			<ng-container matColumnDef="select" style="width:25%">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox
						(change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()">
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row"> 
					<mat-checkbox *ngIf="!hasStatusClosed(row)"
						(click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)">
					</mat-checkbox>
				</td>
			</ng-container>

			<!-- Edit button Column -->
			<ng-container matColumnDef="edits">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element">
					<button mat-icon-button [routerLink] = "['/new-operator', element.contractID]">
						<mat-icon>edit</mat-icon>
					</button>
				</td>
			</ng-container>
				
			<!-- Nom Column -->
			<ng-container matColumnDef="nom">
				<th mat-header-cell *matHeaderCellDef> Nom </th>
				<td mat-cell *matCellDef="let element"> {{element.nom}} </td>
			</ng-container>

			<!-- Contract ID Column -->
			<ng-container matColumnDef="contractID">
				<th mat-header-cell *matHeaderCellDef> ID du contrat </th>
				<td mat-cell *matCellDef="let element"> {{element.contractID}} </td>
			</ng-container>

			<!-- Login Column -->
			<ng-container matColumnDef="login">
				<th mat-header-cell *matHeaderCellDef> Login </th>
				<td mat-cell *matCellDef="let element"> {{element.login}} </td>
			</ng-container>

			<!-- Email Column -->
			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef> Email </th>
				<td mat-cell *matCellDef="let element"> {{element.email}} </td>
			</ng-container>

			<!-- Login Column -->
			<ng-container matColumnDef="hiringDate">
				<th mat-header-cell *matHeaderCellDef> Date d'embauche </th>
				<td mat-cell *matCellDef="let element"> {{element.hiringDate}} </td>
			</ng-container>

			<!-- Delete button Column -->
			<ng-container matColumnDef="delete">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element">
					<button mat-icon-button (click)="deleteOperator(element.contractID)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;let element" (click)="router.navigate(['/new-operator', element.contractID]);"></tr>
		</table>
	</div>
</mat-card>
