<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtre
      </mat-panel-title>
      <mat-panel-description>
        Cliquez pour filtrer
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Login">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Compétences">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerHired" placeholder="Date d'embauche">
      <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
      <mat-datepicker #pickerBegin></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fonction</mat-label>
      <mat-select>
        <mat-option [value]="">
      Tous
      </mat-option>
      <mat-option *ngFor="let function of functions" [value]="function.value">
        {{function.viewValue}}
      </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerBegin" placeholder="Début graphique">
      <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
      <mat-datepicker #pickerBegin></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerEnd" placeholder="Fin graphique">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <button mat-button (click)="submitNewRequest()">Filtrer</button>
  </mat-expansion-panel>
</mat-accordion>

