<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
      Filtre
      </mat-panel-title>
      <mat-panel-description>
      Cliquez pour filtrer
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Id">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nom d'entreprise">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ville">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre d'utilisateurs</mat-label>
      <mat-select (selectionChange)="changeNumbEmp($event.value)">
      <mat-option *ngFor="let number of numbers" [value]="number.value">
        {{number.viewValue}}
      </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerBegin" placeholder="Début graphique">
      <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
      <mat-datepicker #pickerBegin></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerEnd" placeholder="Fin graphique">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

	  <button mat-button (click)="submitNewRequest()">Filtrer</button>
  </mat-expansion-panel>
</mat-accordion>