<mat-card class = "personInfo">
  <div class="section">
    En charge: 
    <ul class ="content" id="inCharge" style="list-style-type:none; margin-bottom: 0px;">
      <li class="personInCharge" style="color: blue">
        FirstPerson
      </li>
    </ul>
    <button id="assignBtn">Me mettre en charge</button> 
  </div>
  <div class ="section">
    Demandeur:
    <h5 class ="content" id="reporter" style="color: blue">content</h5>
  </div>
  <div class ="section">
    Dernière modification:
    <h5 class ="content" id="lastUpdate" style="color: blue">content</h5>
  </div>
</mat-card>
